// Colors
$white: #FFFFFF !default;
$off-white: #F5F5F5 !default;
$black: #000000 !default;
$brick: #952323 !default;
$brick-dark: #7A1C1C !default;
$cream: #F2E8C6 !default;
$link-red: #A92828 !default;

// Theme Colors
$primary: $brick !default;
$primary-dark: $brick-dark !default;
$secondary: $cream !default;